<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <img src="/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                    <span id="myMsg" class="small ml-1 d-md-down-none"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">我的</li>

                    <li class="nav-item">
                        <a href="/student/getMyMsg" target="targetText" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 我的个人信息
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/student/myKp" target="targetText" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 我的考评信息
                        </a>
                    </li>

                    <li class="nav-title">区队</li>

                    <li class="nav-item">
                        <a href="/student/getUserTeam" target="targetText" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 我的区队信息
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/student/getUserTeam" target="targetText" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 区队考评信息
                        </a>
                    </li>

                    <li class="nav-title">所有人</li>

                    <li class="nav-item nav-dropdown">
                        <a href="javascript:void(0);" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> 所有人信息 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="layouts-normal.html" target="targetText" class="nav-link">
                                    <i class="icon icon-target"></i> 所有人基本信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="layouts-fixed-sidebar.html" target="targetText" class="nav-link">
                                    <i class="icon icon-target"></i> 所有人加分信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="layouts-fixed-header.html" target="targetText" class="nav-link">
                                    <i class="icon icon-target"></i> 所有人扣分信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="layouts-hidden-sidebar.html" target="targetText" class="nav-link">
                                    <i class="icon icon-target"></i> 所有人惩罚信息
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <iframe id="iframe" onload="this.height=body.offsetHeight" width="100%" scrolling="true"
                            frameborder="0" src="/student/getMyMsg" name="targetText"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/chart.min.js"></script>
<script src="/js/carbon.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
