<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的信息</title>
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="page-wrapper">
<div class="main-container">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">

                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                <p class="font-weight-bold mb-4">我的个人信息</p>
                                <p class="mb-1" id="userName">姓名：</p>
                                <p id="xb">性别：</p>
                                <p class="mb-1" id="phone">手机号码：</p>
                                <p class="mb-1" id="email">邮箱：</p>
                            </div>

                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-4">详情</p>
                                <p class="mb-1" id="id"><span class="text-muted">学号: </span></p>
                                <p class="mb-1" id="pwd"><span class="text-muted">密码: </span></p>
                                <p class="mb-1" id="kpfs"><span class="text-muted">考评总分: </span></p>
                                <p class="mb-1" id="qdbm"><span class="text-muted">所属区队: </span></p>
                                <p class="mb-1" id="qshm"><span class="text-muted">寝室号码: </span></p>
                            </div>
                        </div>

                        <div class="row p-5">
                            <div class="col-md-12">
                                <a href="/student/change_msg"><button type="button" class="btn btn-outline-primary">修改信息</button></a>
                                <a href="/student/myKp"><button type="button" class="btn btn-outline-primary">考评详情</button></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/chart.min.js"></script>
<script src="/js/my_msg.js"></script>
</body>
</html>
