<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.pe.mapper.StudentMapper">

    <select id="getAddPoint" parameterType="com.yzy.pe.entity.AddPoint" resultType="com.yzy.pe.entity.AddPoint">
        select * from add_point
        where userId=#{userId}
        <if test="addDesc !=null and addDesc !=''">
            and addDesc=#{addDesc}
        </if>
        <if test="addPoint !=null and addPoint !=''">
            and addPoint=#{addPoint}
        </if>
        order by time desc
    </select>

    <select id="getDeletePoint" parameterType="com.yzy.pe.entity.DeletePoint" resultType="com.yzy.pe.entity.DeletePoint">
        select * from delete_point
        where userId=#{userId}
        <if test="deleteDesc !=null and deleteDesc !=''">
            and deleteDesc=#{deleteDesc}
        </if>
        <if test="deletePoint !=null and deletePoint !=''">
            and deletePoint=#{deletePoint}
        </if>
        order by deleteTime desc
    </select>

    <select id="getPunishList" parameterType="com.yzy.pe.entity.Punish" resultType="com.yzy.pe.entity.Punish">
        select * from punish
        where userId=#{userId}
        <if test="punishReason !=null and punishReason !=''">
            and punishReason=#{punishReason}
        </if>
        <if test="punishComplete !=null and punishComplete !=''">
            and punishComplete=#{punishComplete}
        </if>
        <if test="punishDesc !=null and punishDesc !=''">
            and punishDesc=#{punishDesc}
        </if>
        order by punishTime desc
    </select>

    <select id="getRewardList" parameterType="com.yzy.pe.entity.Reward" resultType="com.yzy.pe.entity.Reward">
        select * from reward
        where userId=#{userId}
        <if test="rewardReason !=null and rewardReason !=''">
            and rewardReason=#{rewardReason}
        </if>
        <if test="rewardDesc !=null and rewardDesc !=''">
            and rewardDesc=#{rewardDesc}
        </if>
        order by rewardTime desc
    </select>

    <select id="getUserTeam" parameterType="java.lang.String" resultType="com.yzy.pe.entity.Team">
        select * from team t
        where t.qdbm=(select qdbm from user u where u.userId=#{userId})
    </select>

    <select id="getTeamDeletePoint" parameterType="com.yzy.pe.entity.DeletePoint" resultType="com.yzy.pe.entity.DeletePoint">
        select * from delete_point
        where userId=(select qdbm from user u where u.userId=#{userId})
        <if test="deleteDesc !=null and deleteDesc !=''">
            and deleteDesc=#{deleteDesc}
        </if>
        <if test="deletePoint !=null and deletePoint !=''">
            and deletePoint=#{deletePoint}
        </if>
        order by deleteTime desc
    </select>

    <select id="getUserWj" parameterType="com.yzy.pe.entity.UserWj" resultType="com.yzy.pe.entity.UserWj">
        select * from user_wj
    </select>

</mapper>