<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.pe.mapper.TeacherMapper">

    <select id="getStuMsg" parameterType="com.yzy.pe.entity.User" resultType="com.yzy.pe.entity.User">
        select * from user
        where 1=1
        <if test="userId != null and userId != ''">
            and userId = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and userName = #{userName}
        </if>
        <if test="userName != null and userName != ''">
            and userName = #{userName}
        </if>
    </select>

    <select id="haveId" parameterType="java.lang.String" resultType="java.lang.String">
        select userId from user where userId=#{parameter_}
    </select>

</mapper>
