<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.pe.mapper.TeacherMapper">

    <select id="getStuMsg" parameterType="com.yzy.pe.entity.User" resultType="com.yzy.pe.entity.User">
        select * from user
        where 1=1
        <if test="userId != null and userId != ''">
            and userId = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and userName = #{userName}
        </if>
        <if test="userName != null and userName != ''">
            and userName = #{userName}
        </if>
    </select>

    <select id="haveId" parameterType="java.lang.String" resultType="java.lang.String">
        select userId from user where userId=#{parameter_}
    </select>

    <insert id="kpAdd" parameterType="com.yzy.pe.entity.AddPoint">
        insert into add_point(userId,userName,addPoint,addDesc,time)
        values (#{userId},#{userName},#{addPoint},#{addDesc},#{time})
    </insert>

    <insert id="kpDel" parameterType="com.yzy.pe.entity.DeletePoint">
        insert into delete_point(userId,userName,deletePoint,deleteDesc,deleteTime)
        values (#{userId},#{userName},#{deletePoint},#{deleteDesc},#{deleteTime})
    </insert>

    <insert id="kpReward" parameterType="com.yzy.pe.entity.Reward">
        insert into reward(userId,userName,rewardReason,rewardDesc,rewardTime)
        values (#{userId},#{userName},#{rewardReason},#{rewardDesc},#{rewardTime})
    </insert>

    <insert id="kpPunish" parameterType="com.yzy.pe.entity.Punish">
        insert into punish(userId,userName,punishReason,punishDesc,punishTime,punishComplete)
        values (#{userId},#{userName},#{punishReason},#{punishDesc},#{punishTime},'2')
    </insert>

    <update id="addPoint" parameterType="com.yzy.pe.entity.AddPoint">
        update user set kpfs=kpfs+#{addPoint} where userId=#{userId}
    </update>

    <update id="delPoint" parameterType="com.yzy.pe.entity.DeletePoint">
        update user set kpfs=kpfs-#{deletePoint} where userId=#{userId}
    </update>

    <select id="userWj" resultType="com.yzy.pe.entity.UserWj">
        select * from user_wj order by wjdj desc
    </select>

</mapper>
