<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.pe.mapper.UserMapper">

    <select id="userLogin" resultType="com.yzy.pe.entity.User" parameterType="com.yzy.pe.entity.User">
        SELECT
        *
        FROM
        user
        WHERE
        userId = #{userId}
        and pwd = #{pwd}
    </select>

    <select id="getPerList" resultType="com.yzy.pe.entity.Permission" parameterType="java.lang.String">
        SELECT
        *
        FROM
        permission
        where permissionDegree=#{_parameter}
        order by permissionId
    </select>

    <select id="getAdviceList" parameterType="com.yzy.pe.entity.Advice" resultType="com.yzy.pe.entity.Advice">
        SELECT
        *
        FROM
        advice
        where
        1=1
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="isSee != null and isSee != ''">
            and isSee = #{isSee}
        </if>
        <if test="isCross != null and isCross != ''">
            and isCross = #{isCross}
        </if>
        order by orderTime
    </select>

    <insert id="orderAdvice" parameterType="com.yzy.pe.entity.Advice">
        insert into
        advice(title, content, isCross, orderTime)
        values(#{title},#{content},#{isCross},now())
    </insert>

    <update id="reviewAdvice" parameterType="com.yzy.pe.entity.Advice">
        update from advice set
          title=#{title},
          content=#{content},
          isCross=#{isCross},
          orderTime=now()
        where
          adviceId=#{adviceId}
    </update>

    <insert id="addUser" parameterType="com.yzy.pe.entity.User">
        insert into
        user(userId,userName, pwd, permissionDegree, qdbm, kpfs)
        values(#{userId},#{userName},#{pwd},#{permissionDegree},#{qdbm},#{kpfs})
    </insert>

    <update id="updateUser" parameterType="com.yzy.pe.entity.User">
        update from user set
          userName=#{userName},pwd=#{pwd},
          permissionDegree=#{permissionDegree},
          qdbm=#{qdbm},kpfs=#{kpfs}
        where
          userId=#{userId}
    </update>

    <update id="updateUserBySelf" parameterType="com.yzy.pe.entity.User">
        update user set userId=#{userId}
        <if test="pwd != null and pwd != ''">
           ,pwd=#{pwd}
        </if>
        <if test="phone != null and phone != ''">
            ,phone=#{phone}
        </if>
        <if test="email != null and email != ''">
            ,email=#{email}
        </if>
        where
          userId=#{userId}
    </update>

    <delete id="deleteUser" parameterType="com.yzy.pe.entity.User">
      delete from user where userId=#{userId}
    </delete>

    <select id="selectUser" resultType="com.yzy.pe.entity.User" parameterType="com.yzy.pe.entity.User">
        SELECT
        *
        FROM
        user
        WHERE
        userId = #{userId}
    </select>

    <select id="selectUserList" resultType="com.yzy.pe.entity.User" parameterType="com.yzy.pe.entity.User">
        SELECT
        *
        FROM
        user
        where permissionDegree=3
        <if test="userName!=null and userName!=''">
            userName like CONCAT('%',#{userName},'%')
        </if>
        <if test="userId!=null and userId!=''">
            userId like CONCAT('%',#{userId},'%')
        </if>
        <if test="qdbm!=null and qdbm!= ''">
            qdbm =#{qdbm}
        </if>
    </select>

</mapper>